<div aurelia-app>
    <div>
        <div class="message">Aurelia Test</div>
    </div>

    <script src="jspm_packages/system.js"></script>
    <script src="config.js"></script>
    <script>
      SystemJS.import('aurelia-bootstrapper');
    </script>
</div>