@using NBAFantasy.Models
@model IEnumerable<Player>

@{
    ViewBag.Title = "Teams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Team details</h2>

<p>
    <a asp-action="AddPlayers">Add players</a>
</p>
@using (Html.BeginForm())
{
    
    @foreach (var player in Model)
    {
        <label for="@player.Name">@player.Name</label>
        <input type="checkbox" class="checkbox" name="selectedPlayers" value="@player.Id" />
    }

    <p>
        <input type="submit" value="Save" />
    </p>
}
