@using NBAFantasy.Models
@using Newtonsoft.Json
@model NBAFantasy.Models.Team

@{
    ViewBag.Title = "Teams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/controllers/team.js"></script>

<div ng-app="nbaFantasy">
    <h2>Team details</h2>
    <p>
        <a asp-action="AddPlayers">Add players</a>
    </p>
    <div ng-controller="teamController" data-ng-init="init(@JsonConvert.SerializeObject(Model))">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayFor(model => model.GM)
                </th>
            </tr>
            <tr ng-repeat="player in teams.Players">
                <td class="list-group-item">
                    {{player.Name}}
                </td>
            </tr>
        </table>
    </div>
</div>